body
{
overflow-x:hidden;
width:100%;
font: 15px "Century Gothic", "Times Roman", sans-serif;
background:#eee;
min-height:550px;
background-attachment:fixed;
}
.bg
{
background-image: url(../image/istock.jpg);    
min-height:540px;
}
.bg1
{
background-image:url(../image/sc.jpg);
min-height:500px;
}

@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
	}

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
	}

.panel{
border-color:#eee;
margin:40px;
padding:20px;
font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title
{
font-family:'typo';
}

.header
{
background:#202020;
height:70px;
}
.logo
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:35px;
text-align: center;
padding-left: 50%;
padding-top: 100%;
padding-bottom: 20%;
color:#f2f2f5;
margin:15px;
}

.title1{
font: 16px "Century Gothic", "Times Roman", sans-serif;
}
.title2{
font-family: 'Ubuntu', sans-serif;
font-size:20px;
}


.sub1
{
width:90px;
color:#f0f3f5;
background:rgb(54, 59, 80);
font-size:15px;
height:35px;
margin:20px;
padding:10px;
width:100px;
}


.sub
{
width:100%;
background-color:#97d9ed;
font-size:20px;
padding:2px;
margin-top:15px;
margin-right:20px;
}
.sub:hover
{
color:#fff;
}

.footer
{
font-size:15px;
text-align:center;
border-top:1px solid;
border-color:#323232;
background-color:#202020;
}
.footer a
{
margin:25px;
color:rgb(241, 238, 249);
text-decoration:none;
font: 15px "Century Gothic", "Times Roman", sans-serif;

}
.footer a:hover
{
text-decoration:none;
color:#bbdcf1;
border-top:2px solid;
border-color:rgb(80, 86, 242);

}

.box
{
padding:9px;
}
hr{
color:#0c2130;
}
.top
{
margin-top:20px;
}
.log1
{
font: 15px 'Ubuntu', sans-serif;
color:rgb(124, 178, 254);
margin-left:10px;
}

.log
{
margin:10px;
margin-right:60px;
margin-left:5px;
color:rgb(120, 193, 233);
text-decoration:none;
font-size:20px;
font-size:15px;
}
.log:hover
{
color:#9acd32;
border-top:2px solid;
border-color:orange;
text-decoration:none;
}
